<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="width:24rem !important;">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-bar"></i>
        </div>
          <div class="sidebar-brand-text mx-3"><span style="font-size:14px">Data Dashboard</span></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->


      <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" style="width:18rem;" href="/all-records"  aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Ping Data</span>
        </a>

      </li>
      <li class="nav-item">
        <a class="nav-link" style="width:18rem;" href="/ping-visualisation?country_code=FR" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Ping Visualisation</span>
        </a>

      </li>

    <li class="nav-item">
        <a class="nav-link" style="width:18rem;" href="/ping-data-analysis" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Ping Data Analysis</span>
        </a>

      </li>

      <li class="nav-item">
        <a class="nav-link" style="width:18rem;" href="/internet-exchange-data" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Internet Exchange Data</span>
        </a>

      </li>

    <li class="nav-item">
        <a class="nav-link" style="width:18rem;" href="/visualize-data-flow?country_code=FR&in_hours=24" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Internet Exchange Visualisation</span>
        </a>

      </li>
      <!-- Nav Item - Utilities Collapse Menu -->

    <li class="nav-item">
        <a class="nav-link" style="width:18rem;" href="/master-data"  aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Data Flow Data</span>
        </a>

      </li>
    <li class="nav-item">
        <a class="nav-link" style="width:18rem;" href="/visualize-master-data"  aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Data Flow Visualisation</span>
        </a>

      </li>







    <li class="nav-item">
        <a class="nav-link" style="width:18rem;" href="/european-data-flow-data" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>European Data Flow Data</span>
        </a>

      </li>

 <li class="nav-item">
        <a class="nav-link" style="width:18rem;" href="/european-data-flow-visualisation" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>European Data Flow Visualisation</span>
        </a>

      </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" style="width:18rem;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Independent Data Analysis</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">

            <a class="collapse-item" href="youth-population-and-gdp">GDP Vs Data Flow</a>
            <a class="collapse-item" href="youth-pop">Youth Population vs Data Flow</a>
            <a class="collapse-item" href="rural-vs-urban">Rural vs Urban vs Data Flow</a>
<!--            <a class="collapse-item" href="good-health">Good Health</a>-->
            <a class="collapse-item" href="tourism">Tourism vs Data Flow</a>
            <a class="collapse-item" href="exports-in-eu">Exports vs Data Flow</a>
              <a class="collapse-item" href="data-flow-regression">Data Flow Regression Analysis</a>
<!--            <a class="collapse-item" href="enrollments">Enrollments</a>-->

          </div>
        </div>
      </li>

    <li class="nav-item">
        <a class="nav-link" style="width:18rem;" href="/independent-data" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Independent Data</span>
        </a>


      <!-- Sidebar Toggler (Sidebar) -->

    </ul>